
# /
/*.sh
/bin

# /lib/
/lib/STPJNI.jar
/lib/libsat.a
/lib/libSTPJNI.so
/lib/libstp.a

# /lib/cfganalyzer-2007-12-03/bin/
/lib/cfganalyzer-2007-12-03/bin/cfganalyzer

# /lib/cfganalyzer-2007-12-03/obj/
/lib/cfganalyzer-2007-12-03/obj/*.cmx
/lib/cfganalyzer-2007-12-03/obj/*.cmi

# /lib/cfganalyzer-2007-12-03/src/

# /lib/cfganalyzer-2007-12-03/zchaff-src/
/lib/cfganalyzer-2007-12-03/zchaff-src/zminimal
/lib/cfganalyzer-2007-12-03/zchaff-src/zverify_df
/lib/cfganalyzer-2007-12-03/zchaff-src/cnf_stats
/lib/cfganalyzer-2007-12-03/zchaff-src/zchaff

# /lib/stp-jni/
/lib/stp-jni/STPJNI.jar

# /lib/stp-jni/32bit/
/lib/stp-jni/32bit/libSTPJNI.so

# /lib/stp-jni/stp/
/lib/stp-jni/stp/*.class

# /lib/stp-jni/stp/examples/
/lib/stp-jni/stp/examples/*.class
